@model SistemaTeatroWebApp.Models.AppModels.Produccion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutTeatroAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Producciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreObra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreObra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
            @Html.ActionLink("(Cambiar)", "UpdateStateProduccion", new { controller = "TeatroAdmin", id = Model.Id, nombreTeatro = Model.Teatro })

        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Teatro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teatro)
        </dd>
    </dl>

    <hr />
    <h4>Precios por bloque</h4>

    <p>
        @Html.ActionLink("Agregar Precio a bloque", "CreatePrecio", new { controller = "TeatroAdmin", IdProduccion = Model.Id, NombreProduccion = Model.NombreObra, IdTeatro = Model.IdTeatro })
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Bloque")
            </th>
            <th>
                @Html.DisplayName("Precio")
            </th>
        </tr>

        @foreach (var item in Model.precios)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreBloque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
            </tr>
        }
    </table>

    <hr />
    <h4>Presentaciones</h4>

    <p>
        @Html.ActionLink("Agregar Presentacion", "CreatePresentacion", new { controller = "TeatroAdmin", IdProduccion = Model.Id, NombreProduccion = Model.NombreObra, FechaInit = Model.FechaInit, FechaFin = Model.FechaFin })
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Fecha")
            </th>
            <th>
                @Html.DisplayName("Hora")
            </th>
        </tr>

        @foreach (var item in Model.presentaciones)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hora)
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "IndexProduccion")
</p>
