@model IEnumerable<SistemaTeatroWebApp.Models.AppModels.Produccion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTeatroAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Producción", "CreateProduccion")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreObra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teatro)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreObra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teatro)
            </td>
            <td>
                @Html.ActionLink("Definir Presentación", "CreatePresentacion", new { IdProduccion = item.Id, NombreProduccion = item.NombreObra, FechaInit = item.FechaInit, FechaFin = item.FechaFin })
            </td>
            <td>
                @Html.ActionLink("Detalles", "DetailsProduccion", new { IdProduccion = item.Id })
            </td>

        </tr>
    }

</table>


