@model IEnumerable<SistemaTeatroWebApp.Models.AppModels.Produccion>

@{
    ViewBag.Title = "Index";
}

<h2>Producciones</h2>
<hr />
<p>
    @using (Html.BeginForm("Cartelera", "Cliente", FormMethod.Get))
    {
        <style>
            label {
                text-align: left;
                width: 150px;
                display: block;
                float: left;
                clear: right;
                font-size: 18;
            }
        </style>

        <b>Buscar personas</b><br /><br />
        <label for="FechaInicio"> Fecha Inicial: </label>
        <input type="date" id="FechaInicio" name="FechaInicio"><br>
        <label for="FechaFinal"> Fecha Final: </label>
        <input type="date" id="FechaFinal" name="FechaFinal"><br>
        <input type="submit" value="Buscar">
    }
</p>
<hr />>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreObra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teatro)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreObra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teatro)
            </td>
            <td>
                @Html.ActionLink("Presentaciones", "DetailsProduccion")
            </td>

        </tr>
    }

</table>


